@import "@/styles/_variables";

.header {
  width: 100%;
  height: 50px;
  background-color: $yellow;
  display: flex;
  align-items: center;

  .headerWrapper {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
