@import "@/styles/_variables";
@import "@/styles/_mixins";

.product {
  display: flex;
  gap: 16px;
  padding: 16px 0;
  color: $dark;

  figure {
    border-radius: 4px;
    overflow: hidden;
  }

  .details {
    width: 100%;
    padding: 16px 0;

    .priceWrapper {
      display: flex;
      gap: 10px;

      .price {
        font-size: 24px;
        display: flex;
        align-items: flex-start;
        gap: 8px;

        .decimals {
          @include decimal;
        }
      }
    }

    .title {
      font-size: 18px;
      @include text_length(340px, 2);
      margin-top: 32px;
    }
  }
}
